<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
        <link rel="stylesheet" href="./root.css">
        
    <title>Login as Manager</title>
</head>
<body>
    <form action="/loginAsManager" method="post">
        <div class="input-field col s6">
            <input id="last_name" type="number"  name='mobile_no' class="validate">
            <label for="last_name">Mobile No</label>
          </div>
        <div class="input-field col s6">
            <input id="last_name" type="password" name='password' class="validate">
            <label for="last_name">Password</label>
          </div>
          <button class="waves-effect waves-light btn button" type='submit' >Login As Manager</button>  
    </form>
</body>
</html>